{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>4th year student on AGH University of Science and Technology
          I am studing on filed of study: Industrial automation and robotics.</p>

      <p>The topic of my engineering thesis is:
      Design and simulation of pipe flare device.
      This work requires knowledge of object-oriented programming, hydraulic diagrams, and electrical schematics.
        Knowledge of programs from the Siemens family </p>


      <p>In addition to my studies, I am trying to expand my knowledge
      in Python programming and database management.
      I am constantly trying to improve my speaking skills in English.
      I am aware of my current knowledge, and familiarity with the IT
      environment, so I would like to start my career as an "application
      tester".</p>

      <p>I would like to spend time in a place where I can demonstrate my
        creativity and out of the box thinking.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}